/*toolbar*/
.ql-snow .ql-picker-label::before {
  width: 80%;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

/*font*/
@font-face {
  font-family: 'NexonGothicLight';
  src: url('../font/NEXONLv2GothicLight.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'NexonGothicRegular';
  src: url('../font/NEXONLv2GothicRegular.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'NexonGothicMedium';
  src: url('../font/NEXONLv2GothicMedium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'NexonGothicBold';
  src: url('../font/NEXONLv2GothicBold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}


.ql-picker.ql-font .ql-picker-label[data-value="NexonGothicLight"]::before,
.ql-picker.ql-font .ql-picker-item[data-value="NexonGothicLight"]::before {
  font-family: "NexonGothicLight", cursive;
  content: "NexonGothicLight" !important;
  ;
}

.ql-picker.ql-font .ql-picker-label[data-value="NexonGothicRegular"]::before,
.ql-picker.ql-font .ql-picker-item[data-value="NexonGothicRegular"]::before {
  font-family: "NexonGothicRegular", cursive;
  content: "NexonGothicRegular" !important;
  ;
}

.ql-picker.ql-font .ql-picker-label[data-value="NexonGothicMedium"]::before,
.ql-picker.ql-font .ql-picker-item[data-value="NexonGothicMedium"]::before {
  font-family: "NexonGothicMedium", cursive;
  content: "NexonGothicMedium" !important;
}

.ql-picker.ql-font .ql-picker-label[data-value="NexonGothicBold"]::before,
.ql-picker.ql-font .ql-picker-item[data-value="NexonGothicBold"]::before {
  font-family: "NexonGothicBold", cursive;
  content: "NexonGothicBold" !important;
}

.ql-font-NexonGothicLight {
  font-family: "NexonGothicLight";
}

.ql-font-NexonGothicMedium {
  font-family: "NexonGothicMedium";
}

.ql-font-NexonGothicRegular {
  font-family: "NexonGothicRegular";
}

.ql-font-NexonGothicBold {
  font-family: "NexonGothicBold";
}

/*size*/
.ql-snow .ql-size .ql-picker-item[data-value='20px']::before {
  content: '20';
  font-size: 20px !important;
}

.ql-snow .ql-size .ql-picker-item[data-value='22px']::before {
  content: '22';
  font-size: 22px !important;
}

.ql-snow .ql-size .ql-picker-item[data-value='24px']::before {
  content: '24';
  font-size: 24px !important;
}

.ql-snow .ql-size .ql-picker-item[data-value='26px']::before {
  content: '26';
  font-size: 26px !important;
}

.ql-snow .ql-size .ql-picker-item[data-value='28px']::before {
  content: '28';
  font-size: 28px !important;
}

.ql-snow .ql-size .ql-picker-item[data-value='30px']::before {
  content: '30';
  font-size: 30px !important;
}

.ql-snow .ql-size .ql-picker-item[data-value='32px']::before {
  content: '32';
  font-size: 32px !important;
}

.ql-size-20px {
  font-size: 20px;
}

.ql-size-22px {
  font-size: 22px;
}

.ql-size-24px {
  font-size: 24px;
}

.ql-size-26px {
  font-size: 26px;
}

.ql-size-28px {
  font-size: 28px;
}

.ql-size-30px {
  font-size: 30px;
}

.ql-size-32px {
  font-size: 32px;
}