/* font */
@font-face {
    font-family: 'Cafe24Ssurround';
    src: url('../src/font/Cafe24Ssurround.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cafe24SsurroundAir';
    src: url('../src/font/Cafe24Ssurroundair.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NexonGothicLight';
    src: url('../src/font/NEXONLv2GothicLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NexonGothicRegular';
    src: url('../src/font/NEXONLv2GothicRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'NexonGothicMedium';
  src: url('../src/font/NEXONLv2GothicMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'NexonGothicBold';
    src: url('../src/font/NEXONLv2GothicBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}